
import img from '.../public/images/header-background.jpeg';


#slim{
    font-family: 'Arial', sans-serif;
    font-size: 64px;
}

.fat{
    font-family: 'Garamond', serif;
    font-size: 64px;
}

section{
    background-image: url(".../public/images/header-background.jpeg");
} 
/* <img src=".../public/images/colo-center.jpeg"></img>  */